.avengersPage {
    height: 100vh;
    position: relative;
    background-image: url('../src/assets/avengersBg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.avengersForm {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}


.avengersSelect {
    width: 600px;
    padding: 25px 40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    background-color: tomato;
    border: 5px solid black;
    font-weight: 900;
}

.avengersCard {
    margin: 45px auto;
}