.gobackbtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: black;
    border: none;
    width: 150px;
    padding: 25px 0;
    color: white;
    font-size: 25px;
    font-weight: 900;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    -webkit-box-shadow: 5px 5px 0px 0px #232323, 10px 10px 0px 0px #3e3e3e, 15px 15px 0px 0px #535353, 20px 20px 0px 0px #696969;
    box-shadow: 5px 5px 0px 0px #232323, 10px 10px 0px 0px #3e3e3e, 15px 15px 0px 0px #535353, 20px 20px 0px 0px #696969;
    background: black;
}