.searchContainer {
    position: relative;
    height: 100%;
    background-image: url('../src/assets/sectionBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}


.characterSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.characterFinder {
    width: 600px;
    padding: 25px 40px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
    background-color: #FFD400;
    border: 5px solid black;
    position: absolute;
    top: 115px;
    font-weight: 900;
}

.characterFinder:focus {
    outline: none;
}

@media (max-width:635px) {

    .characterFinder {
        width: 450px;
        font-size: 20px;
    }
}

@media (max-width:499px) {

    .characterFinder {
        width: 318px;
        font-size: 18px;
    }
}

@media (max-width:475px) {

    .characterFinder {
        width: 250px;
        padding: 18px 40px;
    }
}

.searchTitle {
    color: #FFD400;
    text-shadow: 5px 5px black;
    text-transform: uppercase;

}

.cardsCatalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    width: 80%;
    align-content: center;
    align-items: flex-start;
    margin-top: 115px;
}

@media (max-width:1000px) {
    .cardsCatalogue {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .cardsCatalogue {
        flex-direction: column;
    }

}

.searchCards {
    flex-basis: calc((100% / 3) - 20px);
    text-align: center;
    margin: 45px auto;
}

@media (max-width:1000px) {

    .searchCards {
        flex-basis: calc((100% / 2) - 20px);
    }
}

@media (max-width:768px) {

    .searchCards {
        flex: 1;
    }
}